$solidThickBlueOutline: 4px solid rgba(0, 102, 255, 0.3);
$solidThickBlackOutline: 4px solid rgba(0, 0, 0, 0.3);

$colorWhite: #ffffff;
$colorLightGrey: #888888;
$colorDarkGrey: #555555;
$colorBlack: #000000;

#burgerBtn {
  user-select: none;

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  &:focus {
    outline: $solidThickBlackOutline;
    background-color: $colorBlack;
    color: $colorWhite;
  }

  span {
    font-size: 0.2rem;
    color: transparent;

  }
}

.nav-pills li {
  width: 100%;
  line-height: 1.5rem;
  //height: 2rem;
}

.nav-link {
  color: $colorBlack;
  font-weight: 500;
}

main {
  height: calc(100vh - 65px);
  overflow: hidden;

  .main-container {
    width: 100%; // Базовая ширина, когда боковая панель скрыта
    transition: width 0.5s ease-in-out; // Плавный переход для изменения ширины
  }

  // Когда .row содержит .side-nav с классом .show
  .row-container:has(.side-nav.show) .main-container {
    width: calc(100% - 8rem); // Учитывает ширину боковой панели
  }

  .side-nav {
    max-width: 8rem; // Фиксированная ширина боковой панели
  }
}

.col-in-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .placeholder-text {
    color: $colorDarkGrey;
  }
}

.col-in-row-1 {
  height: 40rem;
}

.col-in-row-2 {
  height: 10rem;
}